/* JOSE VELAZQUEZ */
/* MODULE 6.2 ASSIGNMENT */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* header element */
header {
  background-color: #2b2d42;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

/* h1 */
h1 {
  font-weight: 400;           
}

/* navbar */
#navbar {
  overflow: hidden;
  background-color: #1b1d2a;
  border-bottom: 15px solid #1f7a8c;
}

/* navbar a */
#navbar a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* navbar a:hover */
#navbar a:hover {
  background-color: #1f7a8c;
  color: #ffffff;
}

/* container div */
#container {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;
}

/* card */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 50%;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

/* When users hover over the card... */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* card-title */
.card-title {
  text-align: center;
  font-size: 2em;
  color: #2b2d42;
  font-weight: 400;
  padding: 16px;
}

/* card-content */
.card-content {
  padding: 2px 16px;
}

/* footer element */
footer {
  background-color: #2b2d42;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* footer p */
footer p {
  color: #ffffff;
  font-weight: 400;
  float: right;
  padding-right: 10px;
  font-style: italic;
}

/* footer a */
footer a {
  text-decoration: none;
  color: #ffffff;
}

/* footer a:hover */
footer a:hover {
  text-decoration: underline;
}
